<h1>Available routes:</h1>


<table id='route_table' class='route_table'>
  <thead>
  <tr>
    <th>HTTP Method</th>
    <th>Path</th>
  </tr>
  </thead>
  <tbody>
  <% @routes.each do |route| %>
      <tr class='route_row' data-helper='path'>
        <td data-route-verb='<%= route[:verb] %>'>
          <%= route[:verb] %>
        </td>
        <td data-route-path='<%= route[:path] %>'>
          <%= route[:path] %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
